<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>모바일 중심 웹</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>

<div th:replace="~{nav.html::navbar}"></div>
<div class="container">
    <div class="sub_login">
        <div class="tit">MyPage</div>
        <div class="txt">내 정 보</div>
        <form class="login_form"  th:action="@{/matchpw}" method="POST">
            <div class="form_wrap">
                <div class="input_box">
                    <div class="login_input">
                        <input type="password" name="password" placeholder="비밀번호">
                    </div>
                </div>
            </div>
            <div class="login_btns">
                <button type="submit" class="btn_login">정보 수정</button>
            </div>


        </form>

        <div class="logout_btns">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="delete-btn" >로 그 아 웃</button>
            </form>
        </div>
    </div>

</div>
<!-- STOMP & SockJS CDN -->
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.6.1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

<!-- 공통 WebSocket 연결 스크립트 -->
<script src="/common.js"></script>

</body>
</html>